{#def card #}
<div style="border: solid black 5px; display: flex; justify-content: space-around; flex-direction: column; align-content: center; padding: 1em">
  <p style="font-size: 5em; align-content: center">This is a sample card.</p>

  <p style="font-size: 5em; align-content: center">{{ card }}</p>
</div>